/* line 27, src/screen.sass */
.foo {
  prop: val;
}

/* line 40, src/screen.sass */
.foo {
  prop: val;
}

/* line 65, src/screen.sass */
.foo {
  prop: val;
}

/* line 97, src/screen.sass */
.moge {
  prop: val;
}

/* line 115, src/screen.sass */
.foo {
  prop: val;
}
